<p style="color: green"><%= notice %></p>

<div class='post-show-container'>

  <div class='post-show-content-container'>

    <div class='post-wrapper'>
      <%= render @post %>

      <p><%= @post.user_id%></p>
      <p>current user: <%= current_user.id %></p>

      <i id='like-heart' class="bi bi-balloon-heart"></i>

      <button class='test-btn'>Test Button</button>
      <p class='test-output'>
        
      </p>
    </div>


    <div>
      <%= render partial: "post_comment_form", locals: {comment: @comment, postID: @post.id} %>
      <h2>Comments</h2>
      <%= render @comments %>
    </div>
  </div>

  <div class='post-show-actions'>

    <% if logged_in?(:site_admin) || @post.user_id == current_user.id %>
      <%= link_to "Edit this post", edit_post_path(@post), class: "post-show-link edit" %>
      <%= button_to "Destroy this post", @post, method: :delete, class: "post-show-link delete-btn" %>
    <% end %>

    <%= link_to "Back to posts", posts_path, class: "post-show-link back" %>

  </div>
</div>

<script>
  let heart = document.querySelector('#like-heart');
  let testBtn = document.querySelector('.test-btn');
  let testOut = document.querySelector('.test-output');
  let count = 0;

  testBtn.addEventListener('click', () => {
    count += 1;
    console.log('test');
    testOut.innerHTML = count;
    
    if (count % 2 == 0) {
      heart.classList.remove('bi-balloon-heart-fill');
      heart.classList.add('bi-balloon-heart');
    } else {
      heart.classList.remove('bi-balloon-heart');
      heart.classList.add('bi-balloon-heart-fill');
    }
  });
</script>
